#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.avatar{
  width: 33%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .avatar{
    width: 25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .avatar{
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  .avatar{
    width: 15%;
  }
}

.department{
  background: #00b100;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

@media screen and (min-width: 576px) {
  .department{
    width: 30%;
  }
}